<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nombre de Cliente</label>
        <input type="text" class="form-control" id="txtNombreCliente">
        <small class="form-text text-muted"></small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Empleado</label>
        {{ formOrdenar.mesero }}
        <small class="form-text text-muted"></small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Comentario</label>
        {{ formOrdenar.comentario }}
        <small class="form-text text-muted"></small>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  <button id="btn-guardar" type="button" class="btn btn-primary" value="">Guardar</button>
</div>
