{% extends 'base/base.html'%}
{% load staticfiles %}
{% block TitlePage %}
  {{ 'Detalle Orden' }}
{% endblock %}
{% block cssFiles %}
  <link href="{% static 'restaurant_application/procesos/css/detalle_orden.min.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid">

        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <div class="card" style="width: 48rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label>Mesero:</label>
                        <strong>{{ object.mesero.nombre }}&nbsp;{{ object.mesero.apellido }}</strong>
                        &emsp;&emsp;
                        <label>Cliente:</label>
                        <strong>{{ object.cliente }}</strong>
                        <br>
                        <label>Estado:</label>
                        <strong>{{ object.estado }}</strong>
                        &emsp;&emsp;
                        <label>Comentario:</label>
                        <strong>{{ object.comentario }}</strong>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div id="categorias">
                <ul class="nav nav-tabs" id="tabCategorias" role="tablist">

                </ul>
                <div class="tab-content" id="tabPlatillos">

                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bar-chart"></i>Detalle de Orden
              </div>
              <div class="card-body">
                <div class="row">
                  <div id="agregandoPlatillos" class="col-12">

                  </div>
                </div>
                <hr>
                <div id="total" class="row">
                  <div class="col-md-12">
                    <label>Total:</label>
                    <strong>$ <span id="lblTotal">00.00</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<button id="btn-entregados-todos" type="button" class="btn btn-secondary btn-sm">Ordenar</button>
                  </div>
                </div>
                <hr>
                <div id="calculadora" class="row lado-izquierdo">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="sobre opcion-numero" value="1">
                        <h1>1</h1>
                      </div>
                      <div class="sobre opcion-numero" value="2">
                        <h1>2</h1>
                      </div>
                      <div class="sobre opcion-numero" value="3">
                        <h1>3</h1>
                      </div>
                      <div id="opcion-cantidad" class="sobre opcion config-opcion opcion-deseleccionada" value="cantidad">
                        <h3>Cantidad</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="sobre opcion-numero" value="4">
                        <h1>4</h1>
                      </div>
                      <div class="sobre opcion-numero" value="5">
                        <h1>5</h1>
                      </div>
                      <div class="sobre opcion-numero" value="6">
                        <h1>6</h1>
                      </div>
                      <div id="opcion-precio" class="sobre opcion config-opcion opcion-deseleccionada" value="precio">
                        <h3>Precio</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="sobre opcion-numero" value="7">
                        <h1>7</h1>
                      </div>
                      <div class="sobre opcion-numero" value="8">
                        <h1>8</h1>
                      </div>
                      <div class="sobre opcion-numero" value="9">
                        <h1>9</h1>
                      </div>
                      <div id="opcion-descuento" class="sobre opcion config-opcion opcion-deseleccionada" value="descuento">
                        <h3>Desc</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="sin-digito">
                        <h1></h1>
                      </div>
                      <div class="sobre opcion-numero" value="0">
                        <h1>0</h1>
                      </div>
                      <div class="sobre opcion-numero" value=".">
                        <h1>.</h1>
                      </div>
                      <div id="borrar" class="sobre config-opcion opcion-borrar">
                        <h1><i class="fa fa-times" aria-hidden="true"></i></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% include 'base/modal.html' %}

{% endblock %}
{% block JavaScriptFiles %}
<script src="{% static 'js/accounting.min.js' %}"></script>
<script type="text/javascript">
  var object_id_recibido;
  $(document).ready(function(){
    object_id_recibido = "";
    object_id_recibido = {{object.id}};
  });
</script>
<script src="{% static 'restaurant_application/procesos/js/detalle_orden.min.js' %}"></script>
  <style>

  </style>
{% endblock %}
