{% extends 'base/base.html' %}
{% load staticfiles %}
{% block TitlePage %}
    {{'Procesos | Facturación'}}
{% endblock %}
{% block body %}
    <div class="container">
        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Procesos</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="#">Facturación</a>
            </li>
        </ol>
        <h3>Ordenes pendientes de facturación</h3>
        <div id="facturar">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Orden
                        </th>
                        <th>
                            Hora
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Mesa
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Mesero
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody id="bfacturar">

                </tbody>
            </table>
        </div>
    </div>

    {% include 'base/modal.html' %}

{% endblock %}

{% block JavaScriptFiles %}
<script src="{% static 'js/accounting.min.js' %}"></script>
<script>
    var obtenerDatos = () => {
        $.ajax({
            url: "{% url 'procesos:orden_condetalle_detail' %}",
            data: {
                estado: "Finalizada"
            },
            dataType: "JSON",
            type: "GET",
            success: (data) => {
                console.log(data);
                let html = ``;
                for(let i = data.length - 1; i >= 0; i--)
                {
                    orden = data[i];
                    orden.fecha_orden = new Date(orden.fecha_orden);
                    html += `<tr>
                        <td>${orden.numero_orden}</td>
                        <td>${orden.fecha_orden.toLocaleTimeString()}</td>
                        <td>${orden.estado}</td>
                        <td>${orden.mesa.numero_mesa}</td>
                        <td>${orden.cliente}</td>
                        <td>${orden.mesero.nombre} ${orden.mesero.apellido}</td>
                        <td>${accounting.formatMoney(orden.total)}</td>
                        <td>
                            <a href="/procesos/pago/${orden.id}/">
                                <button class="btn btn-success">Pagar</button>
                            </a>
                        </td>
                    </tr>`;
                }
                $("#bfacturar").html(html);
            }
        });
    };
    $(document).ready(function(){
        obtenerDatos();
    });
</script>
{% endblock %}
