{% extends 'base/base.html' %}
{% load staticfiles %}
{% block TitlePage %}
    {{'Mantenimiento | Usuarios'}}
{% endblock %}
{% block body %}
    <div class="container">
        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Procesos</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Ordenes</a>
            </li>
            <li class="breadcrumb-item active">
                Panel de mesas
            </li>
        </ol>
        <div id="mesas">

        </div>
    </div>

    {% include 'base/modal.html' %}
    <div id="contenidoHTML1" class="ocultar">
      {% include 'procesos/abrir_orden_formulario.html' %}
    </div>

{% endblock %}

{% block JavaScriptFiles %}
<script src="{% static 'restaurant_application/procesos/js/mesas.min.js' %}"></script>
<style>
    .mesa-card
    {
        display: inline-block; cursor: pointer;
        min-width: 150px;
        margin: 5px;
    }
    .mesa-card .card-text{
        text-align: center;
    }
    .ocultar{
      display: none;
    }
</style>
{% endblock %}
