{% extends 'base/base.html'%}
{% block TitlePage %}
  {{ 'Categoría Platillo' }}
{% endblock %}
{% block body %}
    <div class="container">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Restaurant</a>
        </li>
        <li class="breadcrumb-item active">Categoría Platillos</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Categoría Platillos
          <button id="btn-registrar-categoria" type="button" class="btn btn-success btn-sm">Registrar</button>
        </div>
        <div class="card-body">
          <br>
          <div class="table-responsive">
            <table class="table table-bordered" id="tableCategoria" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Categoría</th>
                  <th width="150px"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    
    {% include 'base/modal.html' %}

{% endblock %}
{% block JavaScriptFiles %}
  <script type="text/javascript">
    //Variable global para Editar y Eliminar
    var idCategoriaPlatillo;

    $(document).ready(function(){
      //Inicializar variables
      idCategoriaPlatillo = "";
      //alert('Funciona JQuery!');
      cargarDatos();
    });

    //Abrir Modal de Formulario de Registro de Categoría
    $(document).on("click", "#btn-registrar-categoria", function(){
      idCategoriaPlatillo = "";
      $("#cargarForm").html(`{% include 'restaurant_application/categoria_platillos/formulario.html' %}`);
      $("#btn-guardar").attr({value:"{% url 'restaurant:create_categoria_platillos' %}"});
      $("#labelModal").html("Registrar Categoría");
      $("#modal").modal("show");
    });

    //Abrir Ventana Modal Editar
    $(document).on("click", ".editar", function(){
      idCategoriaPlatillo = $(this).attr("value");
      $("#cargarForm").html(`{% include 'restaurant_application/categoria_platillos/formulario.html' %}`);
      $("#txtCategoria").val($(this).parents("tr").find("td")[0].innerHTML);
      $("#btn-guardar").attr({value:"{% url 'restaurant:editar_categoria_platillos' %}"});
      $("#labelModal").html("Editar Categoría");
      $("#modal").modal("show");
    });

    //Función para guardar el formulario
    $(document).on("click", "#btn-guardar", function(){

      var parametros;
      if(idCategoriaPlatillo == ""){
        //En caso que sea Guardar
        parametros = {'categoria': $("#txtCategoria").val()};
      } else{
        //En caso que sea Editar
        parametros = {'idCategoriaPlatillo': idCategoriaPlatillo, 'categoria': $("#txtCategoria").val()};
      }

      $.ajax({
        url : $(this).attr("value"),
        data : parametros,
        type: "POST",
        dataType: "json",
        success : function (data) {
          //alert('Registrado '+data.respuesta);
          $("#modal").modal("hide");
          cargarDatos();
        }
      });
    });

    //Abrir ventana eliminar
    $(document).on("click", ".eliminar", function(){
      idCategoriaPlatillo = $(this).attr("value");
      $("#cargarForm").html(`{% include 'restaurant_application/categoria_platillos/delete.html' %}`);
      $("#nombreCategoriaPlatillo").html($(this).parents("tr").find("td")[0].innerHTML);
      $("#labelModal").html("Eliminar Categoría");
      $("#modal").modal("show");
    });

    //Confirmar eliminar
    $(document).on("click", "#btn-eliminar", function(){
      $.ajax({
        url : "{% url 'restaurant:eliminar_categoria_platillos' %}",
        data : {'idCategoriaPlatillo': idCategoriaPlatillo},
        type: "POST",
        dataType: "json",
        success : function (data) {
          //alert('Eliminar '+data.respuesta);
          $("#modal").modal("hide");
          cargarDatos();
        }
      });
    });

    //Funcion cargar lista
    function cargarDatos(){
      $.ajax({
        url : "{% url 'restaurant:lista_categoria_platillos' %}",
        type: 'POST',
        dataType: "json",
        success : function (data) {
          $("#tableCategoria").DataTable({
            destroy: true,
            data : data,
            ordering: false,
            columns: [
              { "data": "categoria" },
              { sortable: false,
                "render": function ( data, type, full, meta ) {
                  var id = full.idCategoriaPlatillo;
                  var htmlButton = '<button type=\"button\" class=\"btn btn-outline-success btn-sm editar\" value='+id+'><i class=\"fa fa-pencil\" aria-hidden=\"true\"></i></button>&nbsp;&nbsp;&nbsp';
                  htmlButton += '<button type=\"button\" class=\"btn btn-outline-danger btn-sm eliminar\"  value='+id+'><i class="fa fa-times" aria-hidden="true"></i></button>';
                    return htmlButton;
              }},
            ]
          });
        }
      });
    };
  </script>
{% endblock %}
