<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Empleado:</label>
        <strong><label id="lblEmpleado"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Caja:</label>
        <strong><label id="lblCaja"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Apertura:</label>
        <strong><label id="lblApertura"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Cierre:</label>
          <strong><label id="lblCierre"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Monto de Apertura:</label>
        <strong><label id="lblMontoApertura"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Monto Estimado:</label>
        <strong><label id="lblMontoEstimado"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Monto de Real:</label>
        <strong><label id="lblMontoReal"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Diferencia:</label>
        <strong><label id="lblDiferencia"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado:</label>
        <strong><label id="lblEstado"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label></label>
        <strong><label id=""></label></strong>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
