{% extends 'base/base.html'%}
{% load static %}
{% block TitlePage %}
  {{ 'Sesión Caja' }}
{% endblock %}
{% block body %}
    <div class="container">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Restaurant</a>
        </li>
        <li class="breadcrumb-item active">Sesión Caja</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Sesión Caja
          <button id="btn-registrar-sesión" type="button" class="btn btn-success btn-sm">Apertura Sesión</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="tableSesion" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>Id</th>
                  <th>Caja</th>
                  <th>Cajero</th>
                  <th>Apertura</th>
                  <th>Cierre</th>
                  <th>Estado</th>
                  <th width="150px"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      <div class="card-footer small text-muted"></div>
    </div>

    {% include 'base/modal.html' %}
    <div id="contenidoHTML1" class="ocultar">
      {% include 'procesos/sesion_caja/formulario.html' %}
    </div>
    <div id="contenidoHTML2" class="ocultar">
      {% include 'procesos/sesion_caja/formulario_detalle.html' %}
    </div>
    <div id="contenidoHTML3" class="ocultar">
      {% include 'procesos/sesion_caja/confirmar_cerrar.html' %}
    </div>

{% endblock %}
{% block JavaScriptFiles %}
  <script src="{% static 'restaurant_application/procesos/js/sesion.js' %}"></script>
  <style>
    .ocultar{
      display: none;
    }
  </style>
{% endblock %}
