<div class="modal-body">
  <p>Datos Personales</p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nombre:</label>
        <strong><label id="lblNombre"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Apellido:</label>
        <strong><label id="lblApellido"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha de Nacimiento:</label>
        <strong><label id="lblFechaNacimiento"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>DUI:</label>
          <strong><label id="lblDUI"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>NIT:</label>
        <strong><label id="lblNIT"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>AFP:</label>
        <strong><label id="lblAFP"></label></strong>
      </div>
    </div>
  </div>
  <p>Datos Laborales</p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Puesto:</label>
        <strong><label id="lblPuesto"></label></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Salario:</label>
        <strong>$&nbsp;<label id="lblSalario"></label></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha de Contratación:</label>
        <strong><label id="lblFechaContratacion"></label></strong>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  <button id="btn-editar" type="button" class="btn btn-primary" value="">Editar</button>
  <button id="btn-ver-eliminar" type="button" class="btn btn-danger" value="">Eliminar</button>
</div>
