{% extends 'base/base.html'%}
{% block TitlePage %}
  {{ 'Mesas' }}
{% endblock %}
{% block body %}
    <div class="container">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Restaurant</a>
        </li>
        <li class="breadcrumb-item active">Empleados</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Empleados
          <button id="btn-registrar-empleado" type="button" class="btn btn-success btn-sm">Registrar</button>
        </div>
        <div class="card-body">
          <br>
          <div class="table-responsive">
            <table class="table table-bordered" id="tableEmpleados" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Código de Empleado</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th width="150px"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    {% include 'base/modal.html' %}

{% endblock %}
{% block JavaScriptFiles %}
  <script type="text/javascript">
    //Variable global para Editar y Eliminar
    var idEmpleado;
    var idPuesto;

    $(document).ready(function(){
      //Inicializar variables
      idEmpleado = "";
      idPuesto = "";
      //alert('Funciona JQuery!');
      //cargarDatos();
    });

    //Abrir Modal de Formulario de Registro de Empleado
    $(document).on("click", "#btn-registrar-empleado", function(){
      idEmpleado = "";
      idPuesto = "";
      $("#cargarForm").html(`{% include 'restaurant_application/empleados/formulario.html' %}`);
      $(".modal-dialog").attr("class", "modal-dialog modal-lg");
      $("#btn-guardar").attr({value:"{% url 'restaurant:create_empleado' %}"});
      $("#id_fecha_nacimiento_year").val("2000");
      $("#txtDUI").attr("maxlength", "10");
      $("#labelModal").html("Registrar Empleado");
      $("#modal").modal("show");
    });

    //Abrir Ventana Modal Editar
    $(document).on("click", ".editar", function(){
      codigo_mesa = $(this).attr("value");
      $("#cargarForm").html(`{% include 'restaurant_application/mesas/formulario.html' %}`);
      $("#txtNumeroMesa").val($(this).parents("tr").find("td")[0].innerHTML);
      $("#txtAsientos").val($(this).parents("tr").find("td")[1].innerHTML);
      $("#btn-guardar").attr({value:"{% url 'restaurant:editar_mesas' %}"});
      $("#labelModal").html("Editar Mesa");
      $("#modal").modal("show");
    });

    //Función para guardar el formulario
    $(document).on("click", "#btn-guardar", function(){

      var parametros;
      if(codigo_mesa == ""){
        //En caso que sea Guardar
        parametros = {'numero_mesa': $("#txtNumeroMesa").val(), 'asientos':parseFloat($("#txtAsientos").val())};

      } else{
        //En caso que sea Editar
        parametros = {'codigo_mesa':codigo_mesa,'numero_mesa': $("#txtNumeroMesa").val(), 'asientos':parseFloat($("#txtAsientos").val())};
      }
      /*
      $.ajax({
        url : $(this).attr("value"),
        data : parametros,
        type: "POST",
        dataType: "json",
        success : function (data) {
          //alert('Registrado '+data.respuesta);
          $("#modal").modal("hide");
          cargarDatos();
        }
      });*/
    });

    //Abrir ventana eliminar
    $(document).on("click", ".eliminar", function(){
      codigo_mesa = $(this).attr("value");
      $("#cargarForm").html(`{% include 'restaurant_application/mesas/delete.html' %}`);
      $("#numeroMesa").html($(this).parents("tr").find("td")[0].innerHTML);
      $("#labelModal").html("Eliminar Mesa");
      $("#modal").modal("show");
    });

    //Confirmar eliminar
    $(document).on("click", "#btn-eliminar", function(){
      $.ajax({
        url : "{% url 'restaurant:eliminar_mesas' %}",
        data : {'codigo_mesa': codigo_mesa},
        type: "POST",
        dataType: "json",
        success : function (data) {
          //alert('Eliminar '+data.respuesta);
          $("#modal").modal("hide");
          cargarDatos();
        }
      });
    });

    //Funcion cargar lista
    function cargarDatos(){
      $.ajax({
        url : "{% url 'restaurant:lista_mesas' %}",
        type: 'POST',
        dataType: "json",
        success : function (data) {
          $("#tableMesas").DataTable({
            destroy: true,
            data : data,
            ordering: false,
            columns: [
              { "data": "numero_mesa" },
              { "data": "asientos" },
              { sortable: false,
                "render": function ( data, type, full, meta ) {
                  var id = full.codigo_mesa;
                  var htmlButton = '<button type=\"button\" class=\"btn btn-outline-success btn-sm editar\" value='+id+'><i class=\"fa fa-pencil\" aria-hidden=\"true\"></i></button>&nbsp;&nbsp;&nbsp';
                  htmlButton += '<button type=\"button\" class=\"btn btn-outline-danger btn-sm eliminar\"  value='+id+'><i class="fa fa-times" aria-hidden="true"></i></button>';
                    return htmlButton;
              }},
            ]
          });
        }
      });
    }

    $(document).on("keyup", "#txtDUI", function(){
      if($(this).val().length == 8){
        $("#txtDUI").val($(this).val()+"-");
      }
    });
  </script>
{% endblock %}
