{% extends 'base/base.html' %}
{% load staticfiles %}
{% block TitlePage %}
    {{'Productos'}} 
{% endblock %} 
{% block body%}
<div class="container">
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Inventario</a>
        </li>
        <li class="breadcrumb-item active">
            Productos
        </li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Productos &nbsp;
            <button id="btn-registrar-producto" type="button" class="btn btn-success" data-toggle="modal" data-target="#productoModal">Nuevo</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablaProductos" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Unidad de medida</th>
                            <th width="300px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'inventario/productos_modal.html' %} 
{% endblock %} 
{% block JavaScriptFiles %}
<script>
    var unidad_de_medida = {
            kg: "Kilogramos",
            lbl: "Libras",
            tnl: "Toneladas Largas",
            tnm: "Toneladas Métricas",
            tnc: "Toneladas Cortas",
            g: "Gramos",
            u: "Unidades",
            lt: "Litros",
            gal: "Galones",
            bar: "Barriles",
           lts: "Latas",
            caj: "Cajas",
            mil: "Millares",
            m3: "Metros cúbicos",
            m: "Metros",
            o: "Otros"
        };
    function cargarDatos() {
        var html = ``;
        $.ajax({
            url: "{% url 'inventario:productos_list' %}",
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                for(let i = 0; i < data.length; i++){
                    html += `<tr>
                                <td>${data[i].id}</td>
                                <td>${data[i].nombre}</td>
                                <td class="${data[i].unidad_de_medida}">${unidad_de_medida[data[i].unidad_de_medida]}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success editar" value=${data[i].id}>Editar</button>
                                    <button type="button" class="btn btn-outline-danger eliminar" value=${data[i].id}>Eliminar</button>
                                </td>
                             </tr>`;
                }
                $('#tablaProductos tbody').html(html);
            }
        });
    }
    $(document).ready(() => {
        cargarDatos();
    });
    $('#guardar').on('click', function () {
        $.ajax({
            url: "{% url 'inventario:productos_create' %}",
            data: {
                nombre: $('#id_nombre').val(),
                unidad_de_medida: $('#id_unidad_de_medida').val()
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(".modal").modal("hide");
                cargarDatos();
            }
        });
    });
    $(document).on('click', '.editar', function(){
        $("#productoModalEditar").modal("show");
        $("#productoModalLabelEditar").html(`Editar producto con Id: ${$(this).val()}`);
        $("#productoModalEditar #id_nombre").val($(this).parents("tr").find("td")[1].innerText);
        $("#productoModalEditar #id_unidad_de_medida").val($(this).parents("tr").find("td")[2].classList[0]);
        $("#actualizar").val($(this).val());
    });
    $('#actualizar').on('click', function () {
        $.ajax({
            url: "{% url 'inventario:productos_update' %}",
            data: {
                id: $(this).val(),
                nombre: $('#productoModalEditar #id_nombre').val(),
                unidad_de_medida: $('#productoModalEditar #id_unidad_de_medida').val()
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(".modal").modal("hide");
                cargarDatos();
            }
        });
    });
    $(document).on('click', '.eliminar', function(){
        $("#productoModalEliminar").modal("show");
        $("#productoModalLabelEliminar").html(`Eliminar producto con Id: ${$(this).val()}`);
        $("#productoModalEliminar .modal-body").html(`<h5>¿Está seguro de eliminar este producto?<br>Esta operación no puede ser revertida</h5>`);
        $("#eliminar").val($(this).val());
    });
    $('#eliminar').on('click', function () {
        $.ajax({
            url: "{% url 'inventario:productos_delete' %}",
            data: {
                id: $(this).val()
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(".modal").modal("hide");
                cargarDatos();
            }
        });
    });
</script>
{% endblock %}