{% extends 'base/base.html' %}
{% load staticfiles %}
{% block TitlePage %}
    {{'Inventario | Detalle del reporte'}}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <div class="container">
        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Inventario</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'inventario:reportes' %}">Reportes</a>
            </li>
            <li class="breadcrumb-item active">
                {{ reporte.id }}
            </li>
        </ol>
        <div class="card">
            <h5 class="card-header">{{ reporte }}
                <a href="{% url 'inventario:reporte_delete' pk=reporte.pk %}">
                    <button class="btn btn-danger" id="borrar-reporte">Borrar</button>
                </a>
                <a href="{% url 'inventario:reporte_update' pk=reporte.pk %}">
                    <button class="btn btn-warning" id="editar-reporte">Editar</button>
                </a>
                <a href="pdf">
                    <button class="btn btn-success" id="reporte-pdf">
                        Generar
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                </a>
            </h5>
            <div class="card-body">
                <h5>
                    Producto:&nbsp;&nbsp;
                    {{ form.producto }}
                    Existencias: {{ form.existencias }}
                    <button class="btn btn-primary" id="btn-agregar">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        Agregar
                    </button>
                </h5>
                <table class="table table-bordered table-striped" id="tablaExistencias">
                    <thead class="thead-dark">
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <h5 class="card-title">Observaciones:</h5>
                {{ reporte.observaciones }}
            </div>
        </div>
        {% include 'inventario/reportedeexistencia_detail_modal.html' %}
    </div>
<style>
    #reporte-pdf
    {
        float: right;
        margin-right: 2px;
    }
    #editar-reporte
    {
        float: right;
        margin-right: 2px;
    }
    #borrar-reporte
    {
        float: right;
    }
    select
    {
        min-width: 250px;
    }
</style>
{% endblock %}

{% block JavaScriptFiles %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
    var unidad_de_medida = {
            kg: "Kilogramos",
            lbl: "Libras",
            tnl: "Toneladas Largas",
            tnm: "Toneladas Métricas",
            tnc: "Toneladas Cortas",
            g: "Gramos",
            u: "Unidades",
            lt: "Litros",
            gal: "Galones",
            bar: "Barriles",
           lts: "Latas",
            caj: "Cajas",
            mil: "Millares",
            m3: "Metros cúbicos",
            m: "Metros",
            o: "Otros"
        };
    $(document).ready(function() {
        $('#id_producto').select2();
        $("#existenciaModalEditar #id_producto").attr('id', 'id_producto_2')
        
        $.ajax({
            url: "{% url 'inventario:existencias_list' %}",
            data: {
                id_reporte: "{{reporte.id}}"
            },
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                cargarDatos(data);
            }
        });
    });
    function cargarDatos(data) {
        var html = ``;
        
        for(let i = 0; i < data.length; i++){
            html += `<tr>
                        <td>${data[i].producto.id}</td>
                        <td>${data[i].producto.nombre}</td>
                        <td>${data[i].existencias}</td>
                        <td class="${data[i].unidad_de_medida}">${unidad_de_medida[data[i].producto.unidad_de_medida]}</td>
                        <td>
                            <button type="button" class="btn btn-outline-success editar" value=${data[i].id}>Editar</button>
                            <button type="button" class="btn btn-outline-danger eliminar" value=${data[i].id}>Eliminar</button>
                        </td>
                     </tr>`;
            }
            $('#tablaExistencias tbody').html(html);
    }
    $("#btn-agregar").on('click', () => {
        $.ajax({
            url: "{% url 'inventario:existencias_create' %}",
            data: {
                id_reporte: "{{ reporte.id }}",
                id_producto: $("#id_producto").val(),
                existencias: $("#id_existencias").val()
            },
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                cargarDatos(data);
                limpiar();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                
                if(xhr.status === 500){
                    alert('ERROR: Debe seleccionar un producto e introducir una cantidad.');
                }
                else{
                    alert(`Error ${xhr.status}: ${thrownError}`);
                }
            }
        });
    });
    function limpiar()
    {
        $('input').val('');
        $('select').val(null);
        $('#select2-id_producto-container').text('---------')
    }
    $(document).on('click', '.eliminar', function(){
        $("#existenciaModalEliminar").modal("show");
        $("#existenciaModalLabelEliminar").html(`Eliminar el registro?`);
        $("#eliminar").val($(this).val());
    });
    $('#eliminar').on('click', function () {
        $.ajax({
            url: "{% url 'inventario:existencias_delete' %}",
            data: {
                id: $(this).val(),
                id_reporte: "{{ reporte.id }}"
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(".modal").modal("hide");
                cargarDatos(data);
            }
        });
    });
    $(document).on('click', '.editar', function(){
        $("#existenciaModalEditar").modal("show");
        $("#id_producto_2").val($(this).parents("tr").find("td")[0].innerHTML);
        $('#id_producto_2').select2({
            dropdownParent: $('#existenciaModalEditar')
        });
        $("#existenciaModalEditar #id_existencias").val($(this).parents("tr").find("td")[2].innerHTML);
        $("#actualizar").val($(this).val());
    });
    $('#actualizar').on('click', function () {
        $.ajax({
            url: "{% url 'inventario:existencias_update' %}",
            data: {
                id: $(this).val(),
                id_producto: $("#id_producto_2").val(),
                existencias: $("#existenciaModalEditar #id_existencias").val(),
                id_reporte: "{{ reporte.id }}"
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $(".modal").modal("hide");
                cargarDatos(data);
            }
        });
    });
</script>
{% endblock %}