<div class="modal-body">
  <div class="form-group">
    <label>Nombre</label>
      {{ form.nombre }}
    <small class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label>Número de Mesa</label>
      {{ form.numero_mesa }}
    <small class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label>Cantidad de Asientos</label>
      {{ form.asientos }}
    <small class="form-text text-muted"></small>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  <button id="btn-guardar" type="button" class="btn btn-primary" value="">Guardar</button>
</div>
