<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="#">Punta Roca</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ordenes">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseOrdenes" data-parent="#exampleAccordion">
          <i class="fa fa-wrench"></i>
          <span class="nav-link-text">Ordenes</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseOrdenes">
          <li>
            <a href="#">Ordenar</a>
          </li>
          <li>
            <a href="#">Ordenes no finalizadas</a>
          </li>
          <li>
            <a href="#">Facturar</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mantenimiento">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMantenimiento" data-parent="#exampleAccordion">
          <i class="fa fa-wrench"></i>
          <span class="nav-link-text">Mantenimiento</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMantenimiento">
          <li>
            <a href="#">Categoría de platillos</a>
          </li>
          <li>
            <a href="#">Platillos</a>
          </li>
          <li>
            <a href="#">Mesas</a>
          </li>
          <li>
            <a href="#">Meseros</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inventario">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseInventario" data-parent="#exampleAccordion">
          <i class="fa fa-wrench"></i>
          <span class="nav-link-text">Inventario</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseInventario">
          <li>
            <a href="#">Productos</a>
          </li>
          <li>
            <a href="#">Reporte de existencias</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
